<!DOCTYPE html>
<html>

	{% load staticfiles %} <!-- New line -->
	
	
    <head>
        <title>Tango: About</title>
    </head>

    <body >
        <h1>This is a html code and Rango says...</h1>
        hello world! <strong>{{ aboutmessage }}</strong><br />
        Click <a href="/app/">here</a> to go to main page
        <br>
        <img src="{% static "images/about.jpg" %}" alt="Picture of about"  height="200px "  /> <!-- New line -->
    </body>

</html>
