<!DOCTYPE html>
<html>
    <head>
        <title>App</title>
    </head>

    <body>
        <h1>Add a Page</h1>

        {% if category == None %}
            <h3>There is no categoy with this name</h3><br />
            <a href ="/app/">Go to index</a>
        {% else %}
        <form id="page_form" method="post" action="/app/category/{{ category_name_slug }}/add_page/">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                    <br />
                {% endfor %}


            <input type="submit" name="submit" value="Create Page" />
        </form>

        {% endif %}

    </body>

</html>