<!DOCTYPE html>
<html>

	{% load staticfiles %} <!-- New line -->
	<!-- {% static "tango.jpg"%} -->
	
    <head>
        <title>Tango</title>
    </head>

    <body >
        <h1>This is a html code and Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong><br />

        {% if categories %}
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/app/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}

        <h3>Top 5 pages</h3>

        {% if pages %}
            <ul>
                {% for pagina in pages %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="{{ pagina.url }}">{{ pagina.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}
        <br />


        Click <a href="/app/about/">here</a> to go to about page <br />
        <a href="/app/add_category/">Add a New Category</a><br />
        <br>
        <img src="{% static "images/tango.jpg" %}" alt="Picture of cowboy" width="200px" height="200px" /> <!-- New line -->
    </body>

</html>

